.container {
  max-width: 1000px;
  margin: 0 auto;
}

.backToRecipesLink {
  display: block;
  width: fit-content;
  margin-bottom: 16px;
}

.image {
  width: auto;
  max-width: 100%;
  max-height: 500px;
}

.ingredientsAndInstructions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 64px;
}

.divider {
  border: none;
  border-top: 1px solid #959595;
}

@media (max-width: 768px) {
  .ingredientsAndInstructions {
    display: block;
  }
}
