.header {
  img {
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.filters {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  gap: 24px;

  > * {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .filters {
    margin: 12px 0;
    flex-direction: column;
    gap: 16px;
  }
}
