.header img {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1em;
}
