:root {
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 32px 64px;
}

h1 {
  font-weight: 800;
  font-size: 3.6em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}

p {
  line-height: 100%;
  margin: 0;
}

a {
  color: #646cff;
  text-decoration: inherit;
  word-wrap: break-word;

  :hover {
    color: #535bf2;
  }
}

ul {
  li {
    list-style-type: square;
  }
}

@media (max-width: 768px) {
  :root {
    padding: 16px;
  }

  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.1em;
  }
}
