:root {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 32px 64px;
  min-width: 320px;
}

p {
  line-height: 100%;
  margin: 0;
}

li {
  list-style-type: square;
}

h1 {
  font-weight: 800;
  font-size: 3.6em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}

a {
  color: #646cff;
  text-decoration: inherit;
  word-wrap: break-word;
}

a:hover {
  color: #535bf2;
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.1em;
  }
}